 /* anchor tag */
 a {
     text-decoration: none;
 }

 /* unvisited link */
 a:link {
     color: green;
 }

 /* visited link */
 a:visited {
     color: brown;
 }

 /* mouse over link */
 a:hover {
     color: pink;
 }

 /* selected link */
 a:active {
     color: blueviolet;
 }